<%= form_for(@cover, html: {class: "form form-horizontal"}) do |f| %>
	<% if @cover.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@cover.errors.count, "error") %> prohibited this cover from being saved:</h2>

			<ul>
				<% @cover.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="form-group">
		<%= label(:cover, :title, "Title", class: "col-lg-2 control-label") %>
		<div class="col-lg-6">
			<%= text_field(:cover, :title, class:"form-control") %>
		</div>
	</div>  
	<div class="form-group">
		<%= label(:cover, :photo, "Photo", class: "col-lg-2 control-label") %>
		<div class="col-lg-6">
			<%= file_field(:cover, :photo, class:"form-control") %>
		</div>
	</div>  
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10 actions">
			<%= submit_tag "Create", class: "btn btn-primary" %>
		</div>
	</div>  
<% end %>

