<p id="notice"><%= notice %></p>
 
<h3><%= @cover.title %></h3>
    <div class="post_picture"> 
        <%= image_tag @cover.photo.url(:large) %>
    </div>
<br />
 
<%= link_to 'Back to Covers', covers_path, html_options = {:class => "btn btn-default"} %>
<%= link_to 'Edit', edit_cover_path, html_options = {:class => "btn btn-default"} %>