<p id="notice"><%= notice %></p>
 
<h3><%= @picture.title %></h3>
    <div class="post_picture"> 
        <%= image_tag @picture.photo.url(:large) %>
    </div>
<br />
 
<%= link_to 'Back to Picture', pictures_path, html_options = {:class => "btn btn-default"} %>
<%= link_to 'Edit', edit_picture_path %>