<% provide(:title, 'Blog') %>

<% if not @posts.empty? %>
<div id="posts">
	<% @posts.each do |post| %>
		<div class="post">
			<div>
				<h3><%= post.title %></h3>
				<h5><%= post.created_at.strftime("%Y-%m-%d")%></h5>
			</div>
			<% if post.photo.url(:large) != "/photos/large/missing.png" %>
				<%= image_tag(post.photo.url(:large), :class => "img-responsive") %>
				<div class="post_content">
					<%= simple_format(post.content) %>
				</div>                
			<% else %>
				<div class="post_content pull-left">
					<%= simple_format(post.content) %>
				</div>   
			<% end %>  
			<%= link_to post do %>
				<span><%= pluralize(post.comments.length, "Comment") %></span>
			<% end %>
		</div>
	<% end %>
</div>  
<%= will_paginate @page_results %>
<% else %>
    <h3>It seems like Andrew hasn't posted a blog post yet</h3>
<% end %>
