<p id="notice"><%= notice %></p>
 
<div class="post">
	<h3><%= @post.title %></h3>
	<h5><%= @post.created_at.strftime("%Y-%m-%d")%></h5>
	 
	<% if @post.photo.url(:large) != "/photos/large/missing.png" %>
		<%= image_tag(@post.photo.url(:large), :class => "img-responsive") %>
		<div class="post_content">
			<%= simple_format(@post.content) %>
		</div>                
	<% else %>
		<div class="post_content">
			<%= simple_format(@post.content) %>
		</div>   
	<% end %> 
</div>
 
<div id="comments">
<h4>Comments</h4>
<% @post.comments.each do |comment| %>
	<div class="comment-name">
		<strong><%= comment.commenter %></strong>
	</div>
 
	<div class="comment-body">
		<%= simple_format(comment.body) %>
	</div>
<% end %>
</div>
 
<h4>Add a comment:</h4>
<%= form_for([@post, @post.comments.build], html: {class: "form form-horizontal"}) do |f| %>
	<div class="form-group">
		<%= label(:comment, :commenter, "Commenter", class: "col-lg-2 control-label") %>
		<div class="col-lg-2">
			<%= text_field(:comment, :commenter, class:"form-control") %>
		</div>
	</div>
	<div class="form-group">
		<%= label(:comment, :body, "Comment", class: "col-lg-2 control-label") %>
		<div class="col-lg-6">
			<%= text_area(:comment, :body, class:"form-control") %>
		</div>
	</div>  
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10 actions">
			<%= submit_tag "Create", class: "btn btn-primary" %>
		</div>
	</div>  
<% end %>
 
<br />
 
<%= link_to 'Back to Posts', posts_path, html_options = {:class => "btn btn-default"} %>