<!DOCTYPE html>
<html lang="en">
<head>
    <title>Andrew Svoboda | <%= yield(:title) %></title>
	
	<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>


    <%= stylesheet_link_tag    "all" %>
    <%= stylesheet_link_tag    "theme.min" %>
	<%= javascript_include_tag "utils" %>
	
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script type='text/javascript' src='https://www.google.com/jsapi'></script>
	<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
	
    <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36435564-1']);
	  _gaq.push(['_setDomainName', 'andrewsvoboda.me']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>	
</head>
<body>
	<nav id="nav-jn" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "Andrew Svoboda", '/', class: 'navbar-brand' %>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="http://murmuring-oasis-2116.herokuapp.com/">Drawroom</a></li>
						<li class="divider"></li>
						<li><a href="http://powerful-lake-7302.herokuapp.com/">House of Commons</a></li>
					</ul>                    
				</li>
                <li><%= link_to "Booklist", '/booklist' %></li>
				<li><%= link_to "Photos", '/gallery' %></li>
                <li><%= link_to "Github", 'https://github.com/asvoboda' %></li>
                <li><%= link_to "Blog", '/posts' %></li>
                <li><%= link_to "Resume", '/resume' %></li>
            </ul>
	  </div>
	</nav>

<% if content_for(:title) == 'Home' %>
<div id="cover">
</div>
<% end %>

<div id="content">
	<%= yield %>
</div>

</body>
</html>
